{% extends '::base.html.twig' %}
{% block title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block body %}
{% if form_errors(form) %}
    <div>{{ form_errors(form) }}</div>
{% endif %}
<form action="{% if loginSuccess %}{{ url('change_password') }}{% else %}{{ url('change_password', {'token': user.confirmationCode, 'email': user.email}) }}{% endif %}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.userPassword) }}<br />
    <label>{% trans %}Password{% endtrans %}:</label>
    {{ form_widget(form.userPassword.Password) }}<br />

    <label>{% trans %}RePassword{% endtrans %}:</label>
    {{ form_widget(form.userPassword.RePassword) }}<br />

    {{ form_rest(form) }}

    <input type="submit" name="signup" value="{% trans %}Submit{% endtrans %}" />
</form>
{% endblock %}